@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Lora", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #38b6ff, #1f26ab);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    background: blue;
    border-radius: 15px;
    overflow: hidden;
    height: 350px; 
}


.img-box {
    width: 300px;
    height: 100%;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form {
    width: 500px;
    padding: 25px 30px;
    background: blue;
    color: white;
}

h1 {
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 8px 0 4px 0;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #1f26ab;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

#button:hover {
    background: #161c7d;
}
